/*-------
	BODY
----------*/
html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
   
}

/*-------
	MAIN
----------*/
main {
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    margin: 0px auto;
    border: gray solid 1px;
}
h1 {
    font-weight: 100;
    text-align: center;
}
section {
    width: 95%;
    margin: 0px auto;
}
button {
    display: block;
    background-color: transparent;
    border: gray solid 2px;
    border-radius: 10px;
    margin: 35px auto;
    font-size: 15px;
    color: gray;
    cursor: grab;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
/*------------
	IMAGES
--------------*/
#top-img, #bottom-img {
    width: 100%;
}
#top-img img, #bottom-img img{
    width: 100%;
}

/*----------
	CONTENT
------------*/
.dash {
    border-bottom: gray dashed 1px;
    width: 100%;
    margin: 5px 5px 15px;
    float: right;
    text-align: center;
}
#header p {
    margin-right: 15px;
}
#date, #time {
    float: right;
}
.results, .input {
    border-bottom: gray dashed 1px;
    width: 55%;
    height: 15px;
    margin-right: 5px; 
    float: right;
    text-align: center;
}
.input {
    height: 18px;
}
/*-------------------------------
	CONTENT - USER INPUT SECTION
---------------------------------*/
#userinput {
    margin: 55px 5px 15px 5px;
}
/* @media (min-height: 730px) {
    #userinput {
        margin: 120px 5px 15px 5px;
    } 
}*/
.input input {
    border: none;
    background: none;
    text-align: center;
    font-size: 15px;
    z-index: -1;
}

/*---------------------------
	CONTENT - RESULT SECTION
-----------------------------*/
#signature {
    border-bottom: gray solid 1px;
    width: 80%;
    height: 35px;
    display: block;
    margin: 0px auto 60px;
}
#thankyou, #customercopy {
    text-align: center;
}

/*----------------------------
	MEDIA QUERIES - LANDSCAPE
------------------------------*/
/* @media (orientation: landscape) {
    body {
        height: 400vh;
        font-size: 20px
    }
    #content {
    padding-top: 68vh;
}
    header {
        margin-top: 165px;
    }
    button {
        margin: 100px auto 20px;
        padding: 8px;
        border-radius: 25px;
        font-size: 20px
    }
    #userinput {
        margin: 130px 5px;
    }
    .input input {
        font-size: 20px
    }
    .results, .input {
        height: 20px;
    }
}
@media (orientation: landscape) and (min-height: 350px) { */
    /* #content {
        padding-top: 22vh;
    } */
    /* #userinput {
        margin-top: 200px;
    }
}
@media (orientation: landscape) and (min-height: 400px) {
    body {
        font-size: 25px;
    } */
    /* #content {
        padding-top: 27vh;
    } */
    /* .input input {
        font-size: 25px
    }
    .results, .input {
        height: 26px;
    }
}

@media (orientation: landscape) and (min-width: 800px){
    body {
        height: 475vh;
        margin: 20px auto;
        font-size: 30px
    }
    header {
        margin-top: 205px;
    }
    button {
        padding: 10px;
        border-radius: 30px;
        font-size: 25px
    }
    .input input {
        font-size: 30px
    }
    .results, .input {
        height: 30px;
    }
} */